.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 20px;
};
