.app {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: red;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.781);
}

.app-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.langueges {
  display: flex;
  justify-content: center;
}

.langueges li {
  margin: 20px;
  cursor: pointer;
  color: rgb(2, 101, 131);
}

.nav {
  display: flex;
  justify-content: center;
}

.nav li {
  margin:20px 20px 0 0;
}

.nav li a {
  color: rgb(22, 223, 206);
  font-size: 18px;
}

.active {
  font-weight: bold;
  -webkit-text-fill-color: red;
  display:inline-block;
  -webkit-transform:scale(1.1,1); /* Safari and Chrome */
  -moz-transform:scale(1.1,1); /* Firefox */
  -ms-transform:scale(1.1,1); /* IE 9 */
  -o-transform:scale(1.1,1); /* Opera */
  transform:scale(1.1,1); /* W3C */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
