.App {
  text-align: center;
}

.activated {
  font-weight: 600;
  -webkit-text-fill-color: rgb(0, 248, 236);
  display:inline-block;
  -webkit-transform:scale(1.1,1); /* Safari and Chrome */
  -moz-transform:scale(1.1,1); /* Firefox */
  -ms-transform:scale(1.1,1); /* IE 9 */
  -o-transform:scale(1.1,1); /* Opera */
  transform:scale(1.1,1); /* W3C */
}

.navbar a {
  color: #FFF;
}

.home {
  margin: 20px auto;
}

.battleButton {
  margin: 20px 0;
}